@import './../variabels.scss';

.applications {
    padding: 85px 0 24px 0;
    background: radial-gradient(115.50% 115.50% at 50.00% 50.00%, #023160 0%, #1C2E41 51.56%, #305173 100%);

    * {
        font-family: $font !important;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;

        .application {
            cursor: not-allowed;
            position: relative;
            border-radius: 24px;
            border: 1px solid #EFF0F6;
            background: $white;
            width: 394px;
            padding: 40px 43px 59px 43px;
            display: flex;
            flex-direction: column;

            .whatFor {
                color: $appColor;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
            }

            .type {
                color: #170F49;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 35px;
                margin-bottom: 29px;
            }

            .text {
                color: $appColor;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                margin-bottom: 13px;
            }

            .price {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                gap: 10px;
                margin-bottom: 17px;

                p:first-child {
                    color: #170F49;
                    font-size: 54px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 66px;
                }

                p:last-child {
                    color: $appColor;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 46px;
                }
            }

            .list {
                margin-bottom: 37px;

                p {
                    color: #170F49;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    margin-bottom: 24px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    li {
                        display: flex;
                        flex-direction: row;
                        gap: 14px;

                        .icon {
                            background: url('./../../images/iconBlack.svg');
                            width: 26px;
                            height: 26px;
                        }
                    }
                }
            }

            .button {
                padding: 26px 38px;
                border-radius: 96px;
                background: #21364B;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
            }

            .popular {
                padding: 12px 24px 13px 24px;
                position: absolute;
                top: 32px;
                right: 32px;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.20);
                color: $white;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 14px;
            }

            transition: 1s ease;

            &:hover {
                border-radius: 24px;
                border: 1px solid #EFF0F6;
                background: #21364B;
                box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);

                * {
                    color: $white !important;
                }

                .button {
                    color: #21364B !important;
                    background: $white;
                }

                .icon {
                    background: url('./../../images/iconWhite.svg') !important;
                }
            }
        }
    }
}


@media (min-width: $tablet) {}

@media (min-width: $desktop) {
    .applications {

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .application {
                border-radius: 24px;
                background: $white;
                width: 394px;
                padding: 40px 43px 59px 43px;

                .whatFor {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 20px;
                }

                .type {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 35px;
                    margin-bottom: 29px;
                }

                .text {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                    margin-bottom: 13px;
                }

                .price {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    gap: 10px;
                    margin-bottom: 17px;

                    p:first-child {
                        font-size: 54px;
                        font-weight: 700;
                        line-height: 66px;
                    }

                    p:last-child {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 46px;
                    }
                }

                .list {
                    margin-bottom: 37px;

                    p {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 20px;
                        margin-bottom: 24px;
                    }

                    ul {

                        li {
                            display: flex;
                            flex-direction: row;
                            gap: 14px;

                            .icon {
                                background: url('./../../images/iconBlack.svg');
                                width: 26px;
                                height: 26px;
                            }
                        }
                    }
                }

                .button {
                    padding: 26px 38px;
                    border-radius: 96px;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 20px;
                }

                .popular {
                    padding: 12px 24px 13px 24px;
                    position: absolute;
                    top: 32px;
                    right: 32px;
                    border-radius: 10px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }


            &:hover {
                top: -34px;
            }
        }
    }
}