@import './../variabels.scss';

.contactInfo {
    background: #FFF;
    padding: 10px;

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 70px;

        >div:first-child {
            width: 100%;
            height: 500px;
            background: #21364B;
            padding: 40px;
            border-radius: 20px;
            background-image: url('./../../images/arounds.png');
            background-position: bottom right;
            background-repeat: no-repeat;

            * {
                color: $white;
            }

            h2 {
                margin-bottom: 70px;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            >div {
                display: flex;
                flex-direction: column;
                gap: 30px;

                >div {
                    display: flex;
                    flex-direction: row;
                    gap: 25px;

                    >div {
                        width: 288px;
                    }
                }
            }
        }

        .contactUs {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                font-size: 22.5px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 15px;
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 12px;

                .form-group {
                    position: relative;
                    width: 100%;
                    border-radius: 11.25px;
                    border: 0.75px solid #F0F0F3;
                    background: #F6F6F6;

                    label {
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50%);
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        opacity: 0.30000001192092896;
                        transition: .3s;
                        left: 15px;
                    }

                    input {
                        z-index: 1;
                        background: transparent;
                        outline: none;
                        border: none;
                        width: 100%;
                        padding: 21.5px 15px 8.5px 15px;

                        font-size: 12px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                    }

                    input:focus~label {
                        font-size: 10.5px;
                        top: 30%;
                    }


                    textarea {
                        width: 100%;
                        background: transparent;
                        border: none;
                        padding: 30px 15px 15px 15px;
                        outline: none;
                        resize: none;
                        height: 105px;

                        &::placeholder {
                            opacity: 0.20000000298023224;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }

                }

                .textarea {
                    label {
                        top: 12px;
                        transform: translate(0);
                    }
                }

                .button {
                    width: 100%;
                    display: flex;
                    flex-direction: row-reverse;

                    button {
                        cursor: pointer;
                        color: $white;
                        padding: 15px 15px;
                        text-align: center;
                        width: 186px;
                        font-size: 15px;
                        border-radius: 11.25px;
                        background: #21364B;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        border: none;
                    }
                }

            }
        }
    }
}

@media (min-width: $tablet) {}

@media (min-width: $desktop) {
    .contactInfo {
        padding: 10px;

        .container {
            gap: 70px;

            >div:first-child {
                width: 491px;
                height: 647px;
                padding: 40px;
                border-radius: 20px;

                h2 {
                    margin-bottom: 144px;
                    font-size: 28px;
                    font-weight: 600;
                }

                >div {
                    gap: 50px;

                    >div {
                        gap: 25px;

                        >div {
                            width: 288px;
                        }
                    }
                }
            }

            .contactUs {

                h3 {
                    font-size: 22.5px;
                    margin-bottom: 15px;
                }

                form {
                    width: 597px;
                    flex-wrap: wrap;
                    gap: 12px;

                    .form-group {
                        border-radius: 11.25px;

                        label {
                            font-size: 12px;
                            font-weight: 500;
                            opacity: 0.30000001192092896;
                            transition: .3s;
                        }

                        input {
                            padding: 21.5px 15px 8.5px 15px;

                            font-size: 12px;
                            font-weight: 600;

                        }

                        input:focus~label {
                            font-size: 10.5px;
                            top: 30%;
                        }


                        textarea {
                            width: 100%;
                            padding: 30px 15px 15px 15px;
                            height: 105px;

                            &::placeholder {
                                opacity: 0.20000000298023224;
                                font-size: 12px;
                                font-weight: 400;
                            }
                        }

                    }

                    .textarea {
                        label {
                            top: 12px;
                        }
                    }

                    .button {
                        width: 100%;

                        button {
                            padding: 15px 15px;
                            width: 186px;
                            font-size: 15px;
                            border-radius: 11.25px;
                        }
                    }

                }
            }
        }
    }
}