@import './../variabels.scss';

.parallax {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    .container {
        max-width: 1280px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .text {
            margin-bottom: 20px;

            p:nth-child(1) {
                color: #2E5880;
                font-size: 19.4px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 2.91px;
                margin-bottom: 10px;
            }

            p:nth-child(2) {
                width: 100%;
                color: $white;
                font-size: 34px;
                font-style: normal;
                font-weight: 600;
                line-height: 35px;
                margin-bottom: 20px;
            }

            p:nth-child(3) {
                width: 100%;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                color: $white;
            }
        }

        .searchFrom {
            width: 100%;
            border-radius: 30px;
            background: $white;
            box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
            padding: 20px 10px 30px 10px;

            >div {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                border-bottom: 1px solid #AAA;

                h3 {
                    padding-bottom: 21.5px;
                    width: 150px;
                    border-bottom: 3px solid #21364B;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-align: center;
                }
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 20px;
                margin: auto;

                .form-group {
                    border-radius: 20px;
                    background: rgba(212, 212, 212, 0.20);
                    margin-top: 30px;

                    input {
                        background: transparent;
                        width: 100%;
                        border: none;
                        outline: none;
                        padding: 25px 25px 20px 20px;

                        &::placeholder {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 26px;
                            color: rgba(109, 106, 117, 0.50);
                        }
                    }

                    .select {
                        padding: 25px 20px;
                        position: relative;

                        .option {
                            color: rgba(109, 106, 117, 0.50);
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 26px;
                            opacity: 1;
                        }

                        svg {
                            right: 20px;
                        }

                        #options {
                            position: absolute;
                            background: #f6f6f6;
                            border-top: 1px solid $white;
                            width: 100%;
                            top: 60px;
                            left: 0;
                            display: none;

                            >div {
                                padding: 15px 20px;

                                &:hover {
                                    background: $white;
                                    border: 5px solid #f6f6f6;
                                }
                            }
                        }
                    }
                }

                button {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 10px;
                    padding: 20px 0;
                    cursor: pointer;
                    border: none;
                    background: #21364B;
                    border-radius: 30px;

                    p {
                        color: $white;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }

        }
    }

    .scrollButton {
        display: none;
    }

}


@media (min-width: $tablet) {}

@media (min-width: $desktop) {
    .parallax {
        padding: 130px 0;
        height: 100vh;

        .container {
            width: 1280px;

            .text {
                p:nth-child(1) {
                    font-size: 19.4px;
                    font-weight: 500;
                    letter-spacing: 2.91px;
                    margin-bottom: 30px;
                }

                p:nth-child(2) {
                    width: 575px;
                    color: $white;
                    font-size: 57.3px;
                    font-weight: 600;
                    line-height: 65px;
                    margin-bottom: 40px;
                }

                p:nth-child(3) {
                    width: 528px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    color: $white;
                }
            }

            .searchFrom {
                width: 420px;
                border-radius: 30px;
                background: $white;
                box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
                padding: 40px 0 60px 0;

                >div {
                    width: 100%;

                    h3 {
                        padding-bottom: 21.5;
                        width: 150px;
                        border-bottom: 3px solid #21364B;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        text-align: center;
                    }
                }

                form {
                    width: 340px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-top: 20px;
                    margin: auto;

                    .form-group {
                        border-radius: 20px;
                        background: rgba(212, 212, 212, 0.20);
                        margin-top: 30px;

                        input {
                            background: transparent;
                            width: 100%;
                            border: none;
                            outline: none;
                            padding: 25px 25px 20px 20px;

                            &::placeholder {
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 26px;
                                color: rgba(109, 106, 117, 0.50);
                            }
                        }

                        .select {
                            padding: 25px 20px;

                            .option {
                                color: rgba(109, 106, 117, 0.50);
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 26px;
                                opacity: 1;
                            }

                            svg {
                                right: 20px;
                            }
                        }


                    }

                    button {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        gap: 10px;
                        padding: 20px 0;
                        cursor: pointer;
                        border: none;
                        background: #21364B;
                        border-radius: 30px;

                        p {
                            color: $white;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }
                    }
                }

            }
        }

        .scrollButton {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 77px;
            bottom: 50px;
        }

    }
}