@import './../variabels.scss';

.landing {
    background: #21364B;
    background-image: url('./../../images/rectangles.png');
    background-attachment: fixed;
    background-position: -102px -104px 0 0;
    background-repeat: no-repeat;
}