@import './style/variabels.scss';

.container {
  max-width: 1280px;
  margin: auto;
}


.col6 {
  width: 292px;
}

.col12 {
  width: 100%;
}

.select {
  position: relative;
  padding: 15px;

  .option {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.30000001192092896;
  }

  svg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
  }
}